# Exclude documentation output and temp data
docs/
tools/lrg-fundamentals/Working Data
tools/lrg-fundamentals/Data

# Exclude the Natural Docs binary files
tools/Natural Docs
tools/_Natural Docs

# IDEA stuff
.idea/
*.iml

\.vscode/launch.json
out/
\.vscode/settings\.json
